:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #FD7400;
}

* {
  box-sizing: border-box;
}

html {
	font-size: 16px;
	font-size: 62.5%;
}

a {
	text-decoration: none;
	color: inherit;
}
